.input-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    width: 420px;
    border: 2px solid var(--c-terc);
}

.input-wrapper.input-chatbox {
    width: 100%;
    border: 0;
}

.input-wrapper .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input, select {
    width: 100%;
    font-size: 14px;
    padding: 4px;
    border-radius: 0;
}

